extends base

block content   
  // Sing in  Form
  section.sign-in
  .container
    .signin-content
      .signin-image
        figure
          img(src='images/signin-image.jpg' alt='sing up image')
        a.signup-image-link(href='/signup') Create an account
      .signin-form
        h2.form-title Sign in
        form#login-form.register-form(method='POST')
          .form-group
            label(for='email')
              i.zmdi.zmdi-account.material-icons-name
            input#email(type='text' name='email' placeholder='Your Email')
          .form-group
            label(for='your_pass')
              i.zmdi.zmdi-lock
            input#your_pass(type='password' name='your_pass' placeholder='Password')
          .form-group
            input#remember-me.agree-term(type='checkbox' name='remember-me')
            label.label-agree-term(for='remember-me')
              span
                span
              | Remember me
          .form-group.form-button
            input#signin.form-submit(type='submit' name='signin' value='Log in')
        .social-login
          span.social-label Or login with
          ul.socials
            li
              a(href='#')
                i.display-flex-center.zmdi.zmdi-facebook
            li
              a(href='#')
                i.display-flex-center.zmdi.zmdi-twitter
            li
              a(href='#')
                i.display-flex-center.zmdi.zmdi-google
  script(src="/js/signin.js")